.WeatherApp form {
    margin-bottom: 20px;
  }
  
  
  form .SearchButton,
  form .CurrentButton  {
    width: 100px;
  }
   
  
  .AboutWeather h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
  }
  
  .AboutWeather ul {
   margin: 0;
   padding: 0;
  }
  
  .AboutWeather li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  
  .tempfix canvas {
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
    position: relative;
    top: 12px;
  }
  
  .tempfix b {
    font-size: 64px;
    font-weight: 400;
    margin-left: 10px;
  }
  
   .units {
    margin-left: 10px;
      position: relative;
      top: -34px;
  }
  .units a {
    text-decoration: none;
    color: black;
  }
  
  .units a:hover,
  .units a:focus {
    color : black;
    font-size: 20px;
    
  }
  
  .WeatherForecast ul {
    position: relative;
    top: 39px;
  }
  